---

#
# Keystone
#

keystone_internal_ip: 10.1.10.10
keystone_external_ip: 192.168.10.10

#
# Keystone region
#

keystone_region: Edmonton

#
# Keystone roles, tokens and passwords
#

keystone_mysql_password: CHANGEME
keystone_admin_token: CHANGEME
keystone_admin_role: admin
keystone_admin_user: admin
keystone_admin_tenant: admin
keystone_admin_user_password: CHANGEME
keystone_generic_service_password: CHANGEME

#
# Configure a test user to run tests with
#

keystone_test_user: achilles
keystone_test_user_password: CHANGEME

#
# Glance
#

glance_mysql_password: CHANGEME
glance_admin_user: glance
glance_admin_user_password: CHANGEME
