#!/bin/bash

export OS_USERNAME={{ keystone_admin_user }}
export OS_PASSWORD={{ keystone_admin_user_password }}
export OS_TENANT_NAME={{ keystone_admin_tenant }}
export OS_AUTH_URL=https://{{ hostvars['controller01']['ansible_eth1']['ipv4']['address'] }}:5000/v2.0
# The following lines can be omitted
#export OS_TENANT_ID=admin
export OS_REGION_NAME={{ keystone_region }}

echo "INFO: Setting nova, keystone, glance with --insecure"
alias nova='nova --insecure'
alias keystone='keystone --insecure'
alias glance='glance --insecure'
