[DEFAULT]
logdir=/var/log/nova
state_path=/var/lib/nova
lock_path=/var/lock/nova
force_dhcp_release=True
iscsi_helper=tgtadm
libvirt_use_virtio_for_bridges=True
connection_type=libvirt
root_helper=sudo nova-rootwrap /etc/nova/rootwrap.conf
verbose=True
rpc_backend = nova.rpc.impl_kombu
rabbit_host = {{ keystone_internal_ip }}
# FIXME!
rabbit_password = guest
rabbit_userid = guest

osapi_compute_listen = {{ keystone_internal_ip }}

my_ip = {{ keystone_internal_ip }}
vncserver_listen = {{ keystone_internal_ip }}
vncserver_proxyclient_address = {{ keystone_internal_ip }}
novncproxy_base_url=https://{{ hostvars['controller01']['ansible_eth1']['ipv4']['address'] }}:10003/vnc_auto.html

# FIXME: should be in [glance] section as "host"?
glance_host = {{ keystone_internal_ip }}
auth_strategy=keystone

metadata_listen = {{ keystone_internal_ip }}
ec2_listen = {{ keystone_internal_ip }}

#
# Network
#

# http://docs.openstack.org/juno/install-guide/install/apt/content/nova-networking-compute-node.html
network_api_class = nova.network.api.API
security_group_api = nova


vif_plugging_is_fatal: false
vif_plugging_timeout: 0

[database]
connection = mysql://nova:{{ nova_mysql_password}}@{{ keystone_internal_ip }}/nova

[keystone_authtoken]
auth_uri = http://{{ keystone_internal_ip }}:5000
auth_host = {{ keystone_internal_ip }}
auth_port = 35357
auth_protocol = https
admin_tenant_name = service
admin_user = {{ nova_admin_user }}
admin_password = {{ nova_admin_user_password }}
